{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>Ingredient</th>
      <th>Recommendation</th>
      <th><a href="{{ url_for('ingredient_form') }}">Ingredients</a></th>
    </tr>
    {% for ingredient in ingredient %}
    <tr>

      <td>{{ ingredient.name }}</td>
      <td>{{ ingredient.recommendation  }}</td>
      
      <form method="POST" action="/ingredient/update/">
        <input type="hidden" value="{{ ingredient.name }}" name="oldname">
        <input type="hidden" value="{{ ingredient.recommendation }}" name="oldrecommendation">
        <input type="text" value="{{ ingredient.name }}" name="newname">
        <input type="text" value="{{ ingredient.recommendation }}" name ="newrecommendation">
        <input type="submit" value="Update">
      </form>
  
      <form method="POST" action="/ingredient/delete/">
      <input type="hidden" value="{{ ingredient.name }}" name="delname">
      <input type="submit" value="Delete">
    </form>

    </tr>
    {% endfor %}
  </table>
{% endblock %}
