{% extends "layout.html" %}

{% block body %}
<form methods="POST" action="{{ url_for('ingredient_create') }}">
  <table>
    <tr>
      <td>
        {{ form.name.label }}
      </td>
      <td>
        {{ form.name }}
      </td>
      <td>
        <u1>
          {% for error in form.name.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </u1>
      </td>
    </tr>
    <tr>
      <td>
        {{ form.amount.label }}
      </td>
      <td>
        {{ form.amount }}
      </td>
      <td>
        <u1>
          {% for error in form.amount.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </u1>
    </tr>
   {% for recipe in recipes %} 
    <tr>
      <td colspan="4" style="width: 20mm">
        <form method="GET" action="{{ url_for('ingredient_create', recipe_id = recipe.id) }}">
        <input type="submit" class="btn btn-secondary btn_sm" value="Add a new ingredient"/>
        </form>
      </td>
    </tr>
   {% endfor %}
  </table>
</form>
{% endblock %}

