{% extends "layout.html" %}

{% block body %}
<h2>Recipes</h2>
  <table class="table table-sm table-hover" style="width: 100%">
    <tr>
      <thead class="thead-light">
      <th>Recipe</th>
      <th>Method</th>
      <th></th>
      <th></th>
      </thead>
    </tr>
    {% for recipe in recipes %}
    <tr>
      <td style="width: 30mm">{{ recipe.name }}</td>
      <td style="width: 150mm">{{ recipe.method }}</td>
      <td><a href="{{ url_for('ingredient_list') }}">See ingredients</a></td>
      <td><a href="{{ url_for('ingredient_form' ) }}">Add an ingredient</a></td>
      
      <td style="width: 10mm">
      <form method="GET" action="{{ url_for('recipe_update', recipes_id = recipe.id) }}">
        <input type="submit" class="btn btn-secondary btn-sm" value="edit" />
        </form>
      </td>
      <td style="width: 10mm">
      <form method="GET" action="{{ url_for('recipe_delete', recipes_id = recipe.id) }}">
        <input type="submit" class="btn btn-danger btn-sm" value="delete" />
      </form>
      </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
