{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>Recipe</th>
      <th>Method</th>
    </tr>
    {% for recipe in recipes %}
    <tr>
      <td>{{ recipe.name }}</td>
      <td>{{ recipe.method }}</td>
      <td><a href="{{ url_for('ingredient_list') }}">Ingredients</a></td>

      <form method="POST" action="/recipes/update/">
        <input type="hidden" value="{{ recipe.name }}" name="oldname">
        <input type="hidden" value="{{ recipe.method }}" name="oldmethod">
        <input type="text" value="{{ recipe.name }}" name="newname">
        <input type="text" value="{{ recipe.method }}" name ="newmethod">
        <input type="submit" value="Update">
      </form>
  
    <form method="POST" action="/recipes/delete/">
      <input type="hidden" value="{{ recipe.name }}" name="delname">
      <input type="submit" value="Delete">
    </form>

  </tr>
  {% endfor %}
</table>
{% endblock %}
