{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('recipe_create') }}">
  <table>
    <tr>
      <td>
        {{ form.name.label }}
      </td>
      <td>
        {{ form.name }}
      </td>
      <td>
        <u1>
          {% for error in form.name.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </u1>
      </td>
    </tr>
    <tr>
      <td>
        {{ form.method.label }}
      </td>
      <td>
        {{ form.method }}
      </td>
      <td>
        <u1>
          {% for error in form.method.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </u1>
    </tr>
    <tr>
      <td colspan="4" style="width: 20mm">
        <input type="submit" class="btn btn-secondary btn_sm" value="Add a new recipe"/>
      </form>
      </td>
    </tr>
  </table>
</form>
{% endblock %}
